s-result-list li.s-result-item {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    *display: inline;
    zoom: 1;
}