
#product-img {margin-left:150px;width: 150px; margin-top: 300px;}

#product-details {margin-left: 400px; margin-top: 300px;}
#product-details h1 {margin-top: -31%;}

#product-price {font-weight: bold;}